.new_project,
.edit_project {
  fieldset.features {
    .control-label {
      font-weight: bold;
    }
  }
}

.project-name-holder {
  .help-inline {
    vertical-align: top;
    padding: 7px;
  }
}

.project-home-panel {
  text-align: center;

  .project-identicon-holder {
    margin-bottom: 15px;

    .avatar, .identicon {
      margin: 0 auto;
      float: none;
    }

    .identicon {
      @include border-radius(50%);
    }
  }

  .project-home-dropdown {
    margin: 11px 3px 0;
  }

  .project-home-desc {
    h1 {
      margin: 0;
      margin-bottom: 10px;
      font-size: 26px;
    }

    p {
      display: inline;
    }
  }

  .git-clone-holder {
    max-width: 600px;
    margin: 20px auto;
  }

  .visibility-level-label {
    color: $gray;
    i {
      color: inherit;
    }
  }

  .project-repo-buttons {
    margin-top: 25px;
    margin-bottom: 25px;

    .btn {
      @extend .btn-info;

      margin-left: 10px;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      padding: 8px 12px;

      .count {
        padding-left: 7px;
        display: inline-block;
        margin-left: 7px;
      }
    }
  }
}

.git-clone-holder {
  .project-home-dropdown + & {
    margin-right: 45px;
  }

  .form-control {
    cursor: auto;
    @extend .monospace;
    background: #FAFAFA;
    width: 100%;
  }

  .input-group-addon {
    background: #FAFAFA;

    &.git-protocols {
      padding: 0;
      border: none;

      .input-group-btn:last-child > .btn {
        @include border-radius-right(0);
      }
    }
  }
}

.project-visibility-level-holder {
  .radio {
    margin-bottom: 10px;

    i {
      margin: 0 3px;
      font-size: 20px;
    }

    .option-title {
      font-weight: bold;
      display: inline-block;
    }

    .option-descr {
      margin-left: 36px;
      color: $gray;
    }
  }
}

.save-project-loader {
  margin-top: 50px;
  margin-bottom: 50px;
  color: #555;
}

ul.nav.nav-projects-tabs {
  @extend .nav-tabs;

  padding-left: 8px;

  li {
    a {
      padding: 6px 25px;
      margin-top: 2px;
      border-color: #DDD;
      background-color: #EEE;
      text-shadow: 0 1px 1px white;
      color: #555;
    }
    &.active {
      a {
        font-weight: bold;
      }
    }
  }
}

.project_member_row form {
  margin: 0px;
}

.my-projects,
.public-projects {
  li {
    .project-info {
      margin-bottom: 10px;
      overflow: hidden;
    }

    .access-icon {
      color: #AAA;
      margin-left: 10px;
      i {
        color: #AAA;
      }
    }
  }
}

.public-clone {
  background: #EEE;
  color: #777;
  padding: 6px 10px;
  margin: 1px;
  font-weight: normal;
}

.public-projects .repo-info {
  color: #777;

  a {
    color: #777;
  }
}

.project-side {
  .project-fork-icon {
    float: left;
    font-size: 26px;
    margin-right: 10px;
    line-height: 1.5;
  }

  .panel {
    @include border-radius(3px);

    .panel-heading, .panel-footer {
      font-weight: normal;
      background-color: transparent;
      color: #666;
      border-color: #EEE;
    }

    .actions {
      margin-top: 10px;
    }

    .nav-pills a {
      padding: 10px;
      font-weight: bold;
      color: $gl-link-color;
    }

    .nav {
      margin-bottom: 15px;
    }
  }

  .ci-status-image {
    max-height: 22px;
  }
}

.transfer-project .select2-container {
  min-width: 200px;
}

.deploy-project-label {
  margin: 1px;
}

.vs-public {
  color: $gl-primary;
}

.vs-internal {
  color: $gl-warning;
}

.vs-private {
  color: $gl-success;
}

.breadcrumb.repo-breadcrumb {
  padding: 0;
  line-height: 34px;
  background: white;
  border: none;
  font-size: 16px;

  > li + li:before {
    padding: 0 3px;
    color: #999;
  }
}

.fork-namespaces {
  .thumbnail {

    &.fork-exists-thumbnail {
      border-color: #EEE;

      .caption {
        color: #999;
      }
    }

    &.fork-thumbnail {
      border-color: #AAA;

      &:hover {
        background-color: $hover;
      }
    }

    a {
      text-decoration: none;
    }
  }
}

table.table.protected-branches-list tr.no-border {
  th, td {
    border: 0;
  }
}

.project-import .btn {
  float: left;
  margin-right: 10px;
}

.project-stats {
  text-align: center;

  ul.nav-pills { display:inline-block; }
  li { display:inline; }
  a { float:left; }

  li.missing a {
    color: #bbb;
    border: 1px dashed #ccc;

    &:hover {
      background-color: #FAFAFA;
    }
  }
}

pre.light-well {
  border-color: #f1f1f1;
}

.projects-search-form {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;

  input {
    border-color: #BBB;
  }
}

.project-row {
  .project-full-name {
    font-weight: bold;
    font-size: 15px;
  }

  .project-description {
    color: #888;
    font-size: 13px;

    p {
      margin-bottom: 0;
      color: #888;
    }
  }
}

.my-projects .project-row {
  padding: 10px 0;
}
